div {
  display: flex;
  border: 1px solid black;
  border-radius: 3px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .97em;
  /* margin: 1px; */
}

button {
  background-color: rgb(247, 195, 117);
}

#App {
  text-align: center;
  /* width: 100vh; */
}

#login-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url('https://i.pinimg.com/originals/3f/ae/ef/3faeefab917eebc7e7e417a753e4d8a8.jpg');
  background-size: cover;
}

#login {
  display: flex;
  border: 1px solid black;
  background-color: white;
  width: 20vw;
  height: 40vh;
  flex-direction: column;
  /* max-width: 30vh; */
  /* height: 30vh; */
  justify-content: center;
  /* justify-self: center; */
  align-items: center;
  /* flex-basis: auto; */
  /* left: 10% */
  /* opacity: .5; */
}

#logo {
  border-style: none;
  font-size: x-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  justify-content: center;
  margin-bottom: 10%;
}

#login form {
  display: flex;
  /* border: 1px solid black; */
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
}

#signup {
  border: 1px solid black;
  width: 30vh;
  height: 30%;
}

#fake-nav {
  background-color: rgb(86, 100, 86);
}

#nav-logo {
  font-size: x-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  justify-content: center;
  width: 100%;
}

#dungeon-town-button {
  /* margin-left: 85.75%; */
  width: 10%;
}

#town-container {
  flex-direction: column;
  background-image: url('https://i.pinimg.com/originals/3f/ae/ef/3faeefab917eebc7e7e417a753e4d8a8.jpg');
  background-size: cover;
}

#town-character-container {
  height: 65vh;
  width: 100vw;
  /* justify-content: space-between; */
  align-items: center;
}

#town-character-list {
  height: 65vh;
  width: 100vw;
  /* justify-content: space-between; */
  align-items: center;
}

.town-character-card {
  max-width: 15vw;
  height: 38vh;
  background-color: beige;
  flex-direction: column;
  /* width: 20%; */
  margin-left: auto;
  margin-right: auto;
}

.inner-town-character-card {
  flex-direction: column;
  width: auto;
  height: 95%;
  margin: 1vh;
  cursor: pointer;
  background-color: white;
}

.inner-town-character-card button {
  background-color: rgb(247, 195, 117);
  border-radius: 3px;
}

.roles {
  justify-content: center;
  background-color: burlywood;
}

.town-character-card-info

#town-character-info {
  max-width: 20vw;
  height: 100%;
  background-color: cornsilk;
}

#town-skill-container {
  height: 30vh;
  flex-direction: column;
}

#town-skill-list {
  align-self: flex-start;
}

#character-skill-div {
  flex-direction: column;
  width: 100%;
}

.town-skill-card {
  background-color: white;
}

#town-skill-info {
  color: white;
  max-width: 35vh;
  flex-direction: column;
}

.class-name {
  justify-content: center;
  background-color: burlywood;
}

.town-character-card-image {
  /* width: 90%; */
  max-height: 40%;
  background-color: #a69eb1;
}

.town-character-card-info {
  align-items: center;
  justify-content: center;
  height: 20%;
}

#town-skill-list {
  align-items: center;
}

.town-skill-card {
  height: 10vh;
  background-color: burlywood;
  border: 1px solid beige;

}

.inner-town-skill-card {
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 1%;
  cursor: pointer;
}

#town-skill-info {
  background-color: beige;
  color: black;
}

#dungeon {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  background-image: url('https://i.pinimg.com/originals/20/f0/56/20f0562c04c9a047679132d8c29677c0.jpg');
  background-size: cover;
}

#dungeon-image-container {
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  width: auto;
  height: 25vh;
}

#dungeon-image {
  width: 40vw;
  height: 100vh;
  /* right: 0; */
}

.town-enemy-image {
  height: 25vh;
  width: 15vw;
}

#floor-list {
  flex-direction: column;
  width: 100%;
  border-style: none;
}

.floor {
  border-style: none;
  flex-direction: column;
  width: 100%;
  /* background-color: black; */
  /* justify-content: space-evenly; */
  align-items: center;
  margin-top: 1.3%;
}

.floor button {
  width: 50%;
  background-color: cornsilk;
}

#floor-info {
  flex-direction: column;
  width: 50vw;
  height: 100%;
  background-color: white;
}

.floor-info-blurb {
  justify-content: center;
  background-color: rgb(231, 228, 228);
}

#floor-info-div {
  flex-direction: column;
}

.floor-info-enemy-card {
  flex-direction: column;
  width: 20%;
  height: 60%;
}

.floor-info-enemy-card div {
  justify-content: center;
  background-color: beige;
}

.floor-info-enemy-card-image {
  height: 100%;
}

#battle-container {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url('https://i.pinimg.com/originals/26/8f/35/268f35bb3334a06076dd4e90a9f2a28d.jpg');
  background-size: cover;
}

#battle-enemy-container {
  height: 50%;
  justify-content: center;
  align-items: center;
}

.battle-outer-enemy-card {
  width: 17%;
  height: 80%;
  padding: 1%;
  background-color: beige;
}

.battle-inner-enemy-card {
  flex-direction: column;
  background-color: white;
}

.battle-enemy-image {
  width: 100%;
  height: 60%;
}

#battle-hero-container {
  height: 50%;
  justify-content: center;
  /* align-items: center; */
}

.battle-outer-hero-card {
  width: 17%;
  max-height: 80%;
  padding: 1%;
  background-color: beige;
}

.battle-inner-hero-card {
  flex-direction: column;
  height: 100%;
  background-color: white;
}

.battle-hero-image {
  width: 100%;
  height: 40%;
  border: 1px solid black;
  border-radius: 3px;
}

.battle-skill-container {
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.battle-skill-card {
  cursor: pointer;
  width: 45%;
  height: 40%;
  margin: auto;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

#battle-info-container {
  flex-direction: column;
  height: 100%;
  width: 20vw;
}

#battle-info {
  height: 51vh;
}

#inner-battle-info {
  flex-direction: column;
}

#inner-battle-info div {
  background-color: rgb(194, 194, 194);
}

#battle-log {
  flex-direction: column;
  /* width: 100%; */
  height: 100%;
  overflow: scroll;
  align-self: flex-end;
  /* padding: 1%; */
}

#battle-log div {
  background-color: rgb(194, 194, 194);
}

.hp {
  background-color: lightgreen;
  border: 1px solid black;
  border-radius: 5px;
  height: 10px;
}

.nrg {
  background-color: rgb(144, 185, 238);
  border: 1px solid black;
  border-radius: 5px;
  height: 10px;
}

.name {
  justify-content: center;
  background-color: burlywood;
}