div {
  display: flex;
  border: 1px solid black;
  border-radius: 3px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .97em;
  /* margin: 1px; */
}

.App {
  text-align: center;
}

#login-container {
  justify-content: center;
  flex-direction: column;
}

#login {
  width: 30vh;
}

#signup {
  width: 30vh;
}

#town-and-dungeon {

}

#town-container {
  flex-direction: column;
}

#town-character-container {
  height: 55vh;
}

#town-character-info {
  max-width: 35vh;
}

#town-skill-container {
  height: 40vh;
}

#character-skill-div {
  flex-direction: column;
  width: 100%;
}

#town-skill-info {
  max-width: 35vh;
}

.town-character-card {
  flex-direction: column;
  width: 25%;
  margin: 1vh;
}

.inner-town-character-card {
  flex-direction: column;
  width: auto;
  height: 95%;
  margin: 1vh;
  cursor: pointer;
}

.class-name {
  justify-content: center;
}

.town-character-card-image {
  /* width: 90%; */
  max-height: 40%;
}

#town-skill-list {
  align-items: center;
}

.town-skill-card {
  height: 10vh;
}

.inner-town-skill-card {
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 1%;
  cursor: pointer;
}

#floor-list {
  flex-direction: column;
}

.floor {
  justify-content: center;
}

#floor-info {

}